index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><title>PPTLS</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.4.0/animate.min.css"><link rel="stylesheet" href="css/pptls.css"></head><body><div class="container-fluid"><div class="row"><div class="col-md-12"><button class="btn btn-default" id="new-game">Nuevo juego</button></div></div><div class="row"><div class="col-md-12 text-center" id="game-score"><div class="pull-left text-danger">Perdidas:&nbsp;<span id="loses">0</span></div><span class="text-warning">Empates:&nbsp;<span id="ties">0</span></span><div class="pull-right text-success">Ganadas:&nbsp;<span id="wins">0</span></div></div></div><div class="row"><div class="col-md-12 text-center" id="play-buttons"><button class="btn btn-default" id="piedra" data-toggle="tooltip" title="Jugar &lt;i class=&quot;icon-rock&quot;&gt;&lt;/i&gt;(Piedra)"><i class="icon-rock"></i></button><button class="btn btn-default" id="papel" data-toggle="tooltip" title="Jugar &lt;i class=&quot;icon-paper&quot;&gt;&lt;/i&gt;(Papel)"><i class="icon-paper"></i></button><button class="btn btn-default" id="tijeras" data-toggle="tooltip" title="Jugar &lt;i class=&quot;icon-scissors&quot;&gt;&lt;/i&gt;(Tijeras)"><i class="icon-scissors"></i></button><button class="btn btn-default" id="lagarto" data-toggle="tooltip" title="Jugar &lt;i class=&quot;icon-lizard&quot;&gt;&lt;/i&gt;(Lagarto)"><i class="icon-lizard"></i></button><button class="btn btn-default" id="spock" data-toggle="tooltip" title="Jugar &lt;i class=&quot;icon-spock&quot;&gt;&lt;/i&gt;(Spock)"><i class="icon-spock"></i></button></div></div><div class="row"><div class="col-md-6 col-md-offset-3 col-sm-12"><div id="game-log-container"><div id="game-log"></div></div></div></div></div><div id="intro-screen-container"><div id="intro-screen"><h1><i class="icon-rock"></i><span>, </span><i class="icon-paper"></i><span>, </span><i class="icon-scissors"></i><span>, </span><i class="icon-lizard"></i><span>, </span><i class="icon-spock"></i></h1><p><small>ALPHA</small></p><button class="btn btn-default" id="enter">Nuevo juego</button></div></div><audio src="audio/tbbt.ogg" autoplay></audio><script src="https://code.jquery.com/jquery-2.1.4.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><script src="js/pptls.min.js" charset="utf-8"></script></body></html>

src/index.jade
doctype html
html
    head
        meta(charset='UTF-8')
        title PPTLS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/animatecss/3.4.0/animate.min.css')
        link(rel='stylesheet', href='css/pptls.css')
    body
        .container-fluid
            .row
                .col-md-12
                    button.btn.btn-default#new-game Nuevo juego
            .row
                #game-score.col-md-12.text-center
                    .pull-left.text-danger Perdidas:&nbsp;
                        span#loses 0
                    span.text-warning Empates:&nbsp;
                        span#ties 0
                    .pull-right.text-success Ganadas:&nbsp;
                        span#wins 0
            .row
                #play-buttons.col-md-12.text-center
                    button.btn.btn-default#piedra(data-toggle='tooltip', title='Jugar <i class="icon-rock"></i>(Piedra)')
                        i.icon-rock
                    button.btn.btn-default#papel(data-toggle='tooltip', title='Jugar <i class="icon-paper"></i>(Papel)')
                        i.icon-paper
                    button.btn.btn-default#tijeras(data-toggle='tooltip', title='Jugar <i class="icon-scissors"></i>(Tijeras)')
                        i.icon-scissors
                    button.btn.btn-default#lagarto(data-toggle='tooltip', title='Jugar <i class="icon-lizard"></i>(Lagarto)')
                        i.icon-lizard
                    button.btn.btn-default#spock(data-toggle='tooltip', title='Jugar <i class="icon-spock"></i>(Spock)')
                        i.icon-spock
            .row
                .col-md-6.col-md-offset-3.col-sm-12
                    #game-log-container
                        #game-log
        #intro-screen-container
            #intro-screen
                h1
                    i.icon-rock
                    span , 
                    i.icon-paper
                    span , 
                    i.icon-scissors
                    span , 
                    i.icon-lizard
                    span , 
                    i.icon-spock
                p
                    small ALPHA
                button.btn.btn-default#enter Nuevo juego
        audio(src="audio/tbbt.ogg", autoplay)
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='js/pptls.min.js', charset='utf-8')
